/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  width: 97%;
  margin: 0 auto;
  float: none;
}
body {
  font-family: "Space Mono";
  margin: 0;
  padding: 0;
  font-weight: 700;
}

/* Grid System*/
.row::after {
  content: "";
  display: table;
  clear: both;
}

.topMess {
  width: 44%;
  margin-left: 4%;
  margin-right: 4%;
  min-height: 1px;
  float: left;
  font-family: "Inconsolata";
  font-style: normal;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

div img {
  width: 100%;
  max-width: 650px;
  object-fit: contain;
}

.images {
  width: 100%;
  /* margin-left: 5%;
  margin-right: 5%; */
  padding: 0% 5%;
  float: left;
}
.heading {
  width: 88%;
  margin-left: 4%;
  margin-right: 8%;
  font-style: normal;
  font-size: 48px;
  line-height: 71.09px;
  letter-spacing: -0.08em;
  color: #333333;
}
.Head {
  margin-bottom: 4%;
}
.mess {
  margin-top: 4%;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.66px;
  letter-spacing: 0.1em;
  color: #4f4f4f;
}
.submit-3 {
  width: 216px;
  height: 68px;
  margin-top: 6%;
  margin-bottom: 10%;
  padding: 0 1%;
  background: #333333;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.copyright {
  width: 96%;
  margin-top: 8%;
}
.text {
  color: #4f4f4fa8;
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 14px;
  text-align: center;
  font-style: normal;
}

.user {
  font-weight: bold;
}

@media only screen and (min-width: 950px) {
  .topMess {
    width: 100%;
    margin-left: 4%;
    margin-right: 0;
    margin-bottom: 10%;
  }
  .images {
    width: 46%;
    float: left;
    padding: 0;
    margin-left: 4%;
  }
  .heading {
    width: 44%;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
  }
  .Head {
    font-size: 64px;
    margin-bottom: 0;
    line-height: 95px;
    letter-spacing: -0.035em;
  }
  .mess {
    /* width: 90%; */
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.035em;
    margin-top: 0;
  }
}
