/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #181719;
  color: #ffffff;
}
.wrapper {
  max-width: 1300px;
  float: none;
  margin: 4% auto;
}

nav ul {
  list-style-type: none;
}

li a:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1.5px;
  transform: scale(1.1);
}

nav a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding-left: 4em;
  padding-right: 0em;
  font-family: "Montserrat";
  font-size: 18px;
  transition: 0.2s ease-in;
}

nav li {
  display: inline-block;
  width: auto;
  padding: 0;
}

.header-box {
  border: 1px solid #ffffff;

  padding: 8px;
  text-transform: uppercase;
  font-family: "Crimson Pro";
  font-size: 14px;
  font-weight: 200;
  transition: 0.2s linear;
}

.header-box:hover {
  background: #ffffff;
  color: black;
  transform: scale(1.1);
  border-radius: 4%;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8% 4%;
}

article {
  width: 500px;
}
aside #main_image {
  width: 84%;
  min-width: 351px;
  max-width: 800px;
  height: auto;
}

.Heading {
  font-family: "Lora";
  font-weight: 500;
  font-size: 40px;
}

.para {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.last-line {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
  width: 120px;
  margin-right: 4%;
}
.Last {
  display: flex;
  align-items: center;
  transition: 0.2s linear;
}
.Last:hover {
  transform: scale(1.05);
  cursor: pointer;
}
i {
  margin-left: 3%;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Grid System  */
nav {
  display: grid;
  gap: 8%;
  grid-template-columns: 1fr 3fr;
  margin: 4%;
}

.a {
  display: flex;
  align-items: center;
}

.b {
  display: flex;
  justify-content: flex-end;
}

.side-image {
  background-color: #181719;
  width: 440px;
  height: 217px;
  padding: 1em 1.2em;
  position: absolute;
  bottom: -15%;
  left: 36%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-heading {
  font-family: "Lora";
  font-weight: bold;
  font-size: 24px;
  margin: 2% 0;
  width: 70%;
}

.side-image img {
  width: 20%;
  border-radius: 50%;
  height: 25%;
}

.head-img {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.text-image {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 4%;
}

footer {
  margin-top: 20%;
}

footer p {
  color: #4f4f4fa8;
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 14px;
  text-align: center;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #ffffff;
}

span {
  font-size: 1.4em;
}

@media only screen and (max-width: 800px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }
  .Heading {
    font-size: 36px;
  }

  .para {
    font-size: 15px;
  }
  .last-line {
    font-size: 12px;
    width: 100px;
    margin-right: 4%;
  }

  span {
    font-size: 1.2em;
  }
  aside #main_image {
    width: 84%;
    max-width: 600px;
  }

  aside {
    align-items: flex-start;
  }

  article {
    width: 350px;
  }

  .Last {
    margin-bottom: 10%;
  }
}
