/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  /* width: 97%; */
  margin: 8% 14%;
  float: none;
}

body {
  font-family: "Poppins", sans-serif;
}
/*Grid System  -- Mobile First*/
.row-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 8% 0;
}
h4 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;

  color: #000000;
}
.para {
}
h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  /* identical to box height */
  text-transform: uppercase;

  color: #000000;
}
.main-para {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

.row-2 {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
  justify-content: space-between;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  /* identical to box height */
  color: #000000;
  margin-bottom: 4em;
}

.desig {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  text-transform: uppercase;

  color: #000000;

  writing-mode: vertical-lr;
}
div img {
  float: left;
  margin-right: 0.7em;
  width: 100%;
}
.image-1 {
  display: flex;
  align-items: flex-start;
  width: 30%;
  padding: 1% 4%;
}

@media only screen and (min-width: 750px) {
  h4 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    margin: 4%;
  }
  .para {
    margin: 1em;
    padding-right: 4.2em;
    width: 40%;
  }
  h5 {
    font-size: 18px;
    line-height: 27px;
  }
  .main-para {
    font-size: 18px;
    line-height: 27px;
  }

  .row-2 :nth-child(3n-1) {
    margin-top: 10%;
  }
  .row-2 p:nth-child(3n-1) {
    margin-top: 0;
  }
}
