/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  max-width: 2000px;
  /* float: none; */
}

body {
  font-family: "Poppins", sans-serif;
}
/*Grid System  -- Mobile First*/

/* Header */
.row-1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 4% 4%;
}
h4 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;

  color: #000000;
  margin: 10% 0;
}
.para {
  max-width: 500px;
}
h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  /* identical to box height */
  text-transform: uppercase;

  color: #000000;
  margin: 2% 0;
}
.main-para {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

/* Main Body */
.row-2 {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
  justify-content: space-between;
}

.row-2 article:nth-child(2n) {
  margin-top: 10%;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;

  /* identical to box height */
  color: #000000;
  margin-bottom: 4em;
}

.desig {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13.25px;
  /* identical to box height */
  text-transform: uppercase;

  color: #000000;

  writing-mode: vertical-lr;
}
div img {
  float: left;
  margin-right: 0.7em;
  width: 100%;
}
.image-1 {
  display: flex;
  align-items: flex-start;
  width: 50%;
  padding: 1% 2%;
}

/* Footer  */
.row-3 {
  margin-top: 8%;
}

.text {
  color: #4f4f4fa8;
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 14px;
  text-align: center;
  font-style: normal;
}
@media only screen and (min-width: 900px) {
  .row-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 8% 0;
  }
  h4 {
    font-size: 36px;
    line-height: 48px;
    margin: 4%;
  }
  .para {
    margin: 1em;
    padding-right: 4.2em;
    width: 40%;
  }
  h5 {
    font-size: 18px;
    line-height: 27px;
  }
  .main-para {
    font-size: 18px;
    line-height: 27px;
  }

  .row-2 {
    flex-flow: row wrap;
    margin-top: 1em;
    justify-content: space-between;
  }
  .row-2 article:nth-child(3n-1) {
    margin-top: 10%;
  }
  .row-2 article:nth-child(2n + 4) {
    margin-top: 0;
  }

  .image-1 {
    display: flex;
    align-items: flex-start;
    width: 30%;
    padding: 1% 2%;
  }
  .name {
    font-size: 18px;
    line-height: 27px;
  }
  .desig {
    font-size: 12px;
    line-height: 16px;
  }
}
